In [0]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals
import functools

import numpy as np
import pandas as pd
import tensorflow as tf

In [49]:
from google.colab import files
uploaded = files.upload()

Saving heart_train.csv to heart_train.csv

In [47]:
!rm "heart_test.csv"
!rm "heart_train.csv"
#!rm "heart.h5"

rm: cannot remove 'heart_train.csv': No such file or directory

In [50]:
!head "heart_train.csv"

row.names,sbp,tobacco,ldl,adiposity,famhist,typea,obesity,alcohol,age,chd
1,160,12,5.73,23.11,Present,49,25.3,97.2,52,1
2,144,0.01,4.41,28.61,Absent,55,28.87,2.06,63,1
3,118,0.08,3.48,32.28,Present,52,29.14,3.81,46,0
4,170,7.5,6.41,38.03,Present,51,31.99,24.26,58,1
5,134,13.6,3.5,27.78,Present,60,25.99,57.34,49,1
6,132,6.2,6.47,36.21,Present,62,30.77,14.14,45,0
7,142,4.05,3.38,16.2,Absent,59,20.81,2.62,38,0
8,114,4.08,4.59,14.6,Present,62,23.11,6.72,58,1
9,114,0,3.83,19.4,Present,49,24.86,2.49,29,0

In [0]:
df = pd.read_csv("heart_train.csv")

In [52]:
df.head()

   row.names  sbp  tobacco   ldl  adiposity  ... typea  obesity  alcohol  age  chd
0          1  160    12.00  5.73      23.11  ...    49    25.30    97.20   52    1
1          2  144     0.01  4.41      28.61  ...    55    28.87     2.06   63    1
2          3  118     0.08  3.48      32.28  ...    52    29.14     3.81   46    0
3          4  170     7.50  6.41      38.03  ...    51    31.99    24.26   58    1
4          5  134    13.60  3.50      27.78  ...    60    25.99    57.34   49    1

[5 rows x 11 columns]

In [53]:
df.dtypes

row.names      int64
sbp            int64
tobacco      float64
ldl          float64
adiposity    float64
famhist       object
typea          int64
obesity      float64
alcohol      float64
age            int64
chd            int64
dtype: object

In [0]:
df['famhist'] = pd.Categorical(df['famhist'])
df['famhist'] = df.famhist.cat.codes

In [55]:
df.head()

   row.names  sbp  tobacco   ldl  adiposity  ...  typea  obesity  alcohol  age  chd
0          1  160    12.00  5.73      23.11  ...     49    25.30    97.20   52    1
1          2  144     0.01  4.41      28.61  ...     55    28.87     2.06   63    1
2          3  118     0.08  3.48      32.28  ...     52    29.14     3.81   46    0
3          4  170     7.50  6.41      38.03  ...     51    31.99    24.26   58    1
4          5  134    13.60  3.50      27.78  ...     60    25.99    57.34   49    1

[5 rows x 11 columns]

In [0]:
chd = df.pop('chd')

In [0]:
dataset = tf.data.Dataset.from_tensor_slices((df.values, chd.values))

In [63]:
for feat, ch in dataset.take(6):
  print ('Features: {}, chd: {}'.format(feat, ch))

Features: [  1.   160.    12.     5.73  23.11   1.    49.    25.3   97.2   52.  ], chd: 1
Features: [2.000e+00 1.440e+02 1.000e-02 4.410e+00 2.861e+01 0.000e+00 5.500e+01
 2.887e+01 2.060e+00 6.300e+01], chd: 1
Features: [3.000e+00 1.180e+02 8.000e-02 3.480e+00 3.228e+01 1.000e+00 5.200e+01
 2.914e+01 3.810e+00 4.600e+01], chd: 0
Features: [  4.   170.     7.5    6.41  38.03   1.    51.    31.99  24.26  58.  ], chd: 1
Features: [  5.   134.    13.6    3.5   27.78   1.    60.    25.99  57.34  49.  ], chd: 1
Features: [  6.   132.     6.2    6.47  36.21   1.    62.    30.77  14.14  45.  ], chd: 0

In [64]:
tf.constant(df['famhist'])

<tf.Tensor: id=37626, shape=(396,), dtype=int32, numpy=
array([1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0],
      dtype=int32)>

In [0]:
train_dataset = dataset.shuffle(len(df)).batch(6)

In [0]:
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dropout(0.1),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dropout(0.1),
    tf.keras.layers.Dense(1, activation='sigmoid')
  ])

  model.compile(optimizer='adam',
                loss='binary_crossentropy',
                metrics=['accuracy'])
  return model

In [75]:
model = get_compiled_model()
model.fit(train_dataset, epochs=15)

WARNING:tensorflow:Layer sequential_5 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

Epoch 1/15
66/66 [==============================] - 1s 14ms/step - loss: 8.0734 - accuracy: 0.5253
Epoch 2/15
66/66 [==============================] - 0s 2ms/step - loss: 4.8604 - accuracy: 0.5783
Epoch 3/15
66/66 [==============================] - 0s 2ms/step - loss: 3.8261 - accuracy: 0.5631
Epoch 4/15
66/66 [==============================] - 0s 2ms/step - loss: 3.5462 - accuracy: 0.5455
Epoch 5/15
66/66 [==============================] - 0s 2ms/step - loss: 2.7155 - accuracy: 0.5960
Epoch 6/15
66/66 [==============================] - 0s 2ms/step - loss: 1.6583 - accuracy: 0.6389
Epoch 7/15
66/66 [==============================] - 0s 2ms/step - loss: 1.7469 - accuracy: 0.6414
Epoch 8/15
66/66 [==============================] - 0s 2ms/step - loss: 1.8031 - accuracy: 0.5808
Epoch 9/15
66/66 [==============================] - 0s 2ms/step - loss: 1.3304 - accuracy: 0.6338
Epoch 10/15
66/66 [==============================] - 0s 2ms/step - loss: 1.2317 - accuracy: 0.6338
Epoch 11/15
66/66 [==============================] - 0s 2ms/step - loss: 1.0259 - accuracy: 0.6439
Epoch 12/15
66/66 [==============================] - 0s 2ms/step - loss: 0.8785 - accuracy: 0.6465
Epoch 13/15
66/66 [==============================] - 0s 2ms/step - loss: 0.7069 - accuracy: 0.6616
Epoch 14/15
66/66 [==============================] - 0s 2ms/step - loss: 0.6901 - accuracy: 0.6616
Epoch 15/15
66/66 [==============================] - 0s 2ms/step - loss: 0.6768 - accuracy: 0.6540